parameters:
    level: max
    tmpDir: tmp/phpstan
    paths:
        - src
        - config
        - database
    reportUnmatchedIgnoredErrors: true
    checkOctaneCompatibility: true
    checkModelProperties: true
